.login{
    width: 45vw;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    position: relative;
    /* box-shadow: 2px 1px 5px 5px rgba(0, 0, 0, 0.5); */
}

.login input{
    width: 70%;
    font-size: 0.7em !important;
    font-weight: 300;
    border-bottom: 1.5px solid black;
}

.login input:focus{
    border-bottom: 1.5px solid black;
    outline: 0;
    box-shadow: none;
}

.login a{
    font-size: 60% !important;
    font-weight: 300;
    text-decoration: none !important;
    cursor: pointer;
    color: blue !important;
}

button{
    width: 70% !important;
}

.login span{
    color: black;
    font-size: 0.6em !important;
}

.login p{
    position: absolute;
    top: 73%;
    left: 40%;
}

@media screen and (max-width: 425px){
    .login{
        width: 70vw;
        height: 50vh;
        font-size: 0.7em !important;
    }
}